$yellow: rgba(255,204,0,1);

.accordion-container {

	.accordion-title {
		padding: 15px 15px;
		background: $yellow;
		display: block;
		margin: 15px 0;
		cursor: pointer;
		font-weight: bold;
		text-transform: uppercase;
		overflow: auto;

		span {
			float: left;
		}

		.fa-angle-down {
			float: right;
			font-size: 140%;
			padding-right: 25px;
		}

		&:hover {
			background: rgba(255,204,0,.8);
		}

		&.ui-state-active {
			.fa-angle-down {
				transform: rotate(180deg) scaleX(-1);
				transform-origin: center center;
			}
		}
	}

	.accordion-panel {
		overflow: hidden;
	}
}